
#topic {
    margin-top:100px
}
#topic__name {
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;  
    display: flex;
    justify-content: space-around;
    
}

#topic__search{
    width: 70vw;
    height: 23vh;
    margin-left:auto;
    margin-right:auto;  
}
