.search {
  display: flex;
  flex-wrap: wrap;
}

.search > * {
  padding: 6px 20px;
}

.search-submit {
  position: relative;
}

.topic-table thead tr:first-child{
  text-align: center;
  width: 26px;
}

.topic-table thead tr:last-child{
  text-align: center;
  width: 26px;
}

.accordion-header {
  font-weight: bold;
  font-size: 18px;
}