#login {
    z-index: 1;
    border-style: solid;
    display: flex;
    justify-content: center;
    width: 500px;
    padding: 10px 30px 30px;
    border-radius: 10px;
    height: 500px;
    margin: 0 auto;
  }
  .login-heading{
    color: rgb(71, 46, 13);
  }
  #login form{
    position: absolute;
    top: 150px;
    width: 300px;
  }
  /*thiết kế input*/
  #login input {
    padding-left: 10px;
    margin-bottom: 10px;
    height: 45px;
    width: 100%;
    border: 1px solid #0093ab;
    border-radius: 10px;
  }

  #btn {
    width: 120px;
    margin: 20px auto;
    border: 1px solid;
    border-radius: 5px;
    transition: all 0.2s linear;
  }
  #btn:hover {
    transform: scale(1.1);
  }