.loginContainer {
  width: 400px;
  padding: 20px;

  background-color: #fff;
  border-radius: 10px;
}

.login__header {
  text-align: center;
}

.login__input {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  font-size: 20px;
}

.login__input input {
  border: none;
  outline: none;
  padding: 10px;
  border-bottom: 2px solid #000;
}

.login__input input:focus {
  transition: 0.5s;
  border-bottom: 2px solid #30aaf6;
}

.login__submitBtn {
  display: block;
  width: 90%;
  margin: 40px auto;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  color: #fff;
  background-color: #2691d9;
  position: relative;
}

.login__submitBtn:hover {
  background-color: #08609a;
  transform: scale(1.1);
  transition: 0.5s ;
}