.custom_progress {
  position: relative;
  margin: 24px 2%;
  height: 60px;
}

.progress_item {
  position: absolute;
  top: 0;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  cursor: pointer;
}

.drop-shape {
  width: 16px;
  height: 16px;
  background-color: red;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.progress_name {
    width: 90px;
    text-align: center;
    font-weight: bold;
}

.curentStage {
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid red;
}