.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 400px;
    height: 250px;
    background-color: #fff;
    border: 1.5px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .popup-heading {
    font-size: 20px;
    font-weight: bold;
  }
  
  .popup-close {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
  }
  
  .popup-content {
    padding: 10px;
  }
  
  .popup-footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }