.dash_board_items {
    display: flex;
    margin: 36px 0;
}

.detail-item{
    margin: 12px 0;
}

.detail-head {
    text-align: end;
    font-weight: bold;
}

.counter {
    color: #fa1212;
}

.no-current {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}