.topic-info {
  margin: 4px 8px;
}

.topic-info-item {
  margin: 0;
  display: flex;
  align-items: center;
}

.topic-info-item svg {
  color: #00ace9;
  margin-right: 12px;
}

.topic-info-item p {
  margin: 0;
}
